<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Evacool.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7F3C9949B7609E6A379E7F2FE4234C706D1EBC27</string>
				<key>dateExpires</key>
				<string>2024/2/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KVC8NZTYE2.com.luoxs.www.Evacool</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KVC8NZTYE2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Evacool.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e1d0d07b-bb10-4e86-a0fe-bdae750cfd8a</string>
				<key>dateExpires</key>
				<string>2024/2/19</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.luoxs.www.Evacool</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KVC8NZTYE2</string>
				<key>name</key>
				<string>Xiansong Luo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
